/*----google fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap");

/*----body-----*/
* {
    margin: 0;
    padding: 10px;
    font-family: "lato", serif;
    box-sizing: border-box;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: rgb(135, 206, 235);
    text-align: center;
  }

  h1,
h2 {
  color: #333;
}

hr {
    height: 2px;
    background: #ddd;
    width: 80%;
    margin: 20px auto;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    background-color: #001e4d;
    color: white;
  }

  #reg-btn button {
    padding-left: 20px;
  }
  button:hover {
    background-color: #c6c9cc;
    color: #001e4d;
    font-weight: bold;
  }

  /* Header and Logo */
#heading-logo {
    padding: 0;
    margin: 0;
  }
  
  .logo {
    width: 90px;
    vertical-align: middle;
    padding-right: 4px;
  }
